export(diffDist,
       FragMatch,
       germ,
       linCombDist,
       RFLPqc,
       RFLPdist,
       RFLPdist2,
       RFLPplot,
       RFLPdist2ref,
       RFLPrefplot,
       RFLPcombine,
       RFLPlod,
       nrBands,
       read.blast,
       read.rflp,
       simMatrix,
       sim2dist,
       simulateRFLPdata,
       write.hclust)
