export(read.rflp,
       diffDist,
       RFLPqc,
       RFLPdist,
       RFLPdist2,
       RFLPplot,
       RFLPdist2ref,
       RFLPrefplot,
       nrBands,
       read.blast,
       simMatrix,
       sim2dist,
       write.hclust)
